{namespace edu.columbia.ase.event autoescape="contextual"}

/**
  * Event List Page
  */
{template .listEvent}
{call edu.columbia.ase.header data="all" /}
{literal}
  <script>
 
  </script>
{/literal}  

<div class="content_left">


  <div class="date">Events Available </div>

  <div class="newsitem">
    <div class="title">Event 1</div>
    <div class="body">
    	

    </div>
  </div>  
  
  			  
  
</div>
{call edu.columbia.ase.footer /}
{/template}