<?xml version="1.0" encoding="UTF-8"?>

<!-- =============================================================== -->
<!-- Configure the Jetty Server with Spring                          -->
<!-- This file is the equivalent of jetty.xml, but written in spring -->
<!-- XmlBeanFactory format.                                          -->
<!-- The modules/spring/src/org/mortbay/spring/Main.java may be used -->
<!-- to run this file - or any other spring infrastructure that      -->
<!-- accepts uses an XmlBeanFactory                                  -->
<!-- =============================================================== -->

<beans 	xmlns="http://www.springframework.org/schema/beans"
   		xmlns:context="http://www.springframework.org/schema/context" 
   		xmlns:mvc="http://www.springframework.org/schema/mvc" 
   		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   		
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<bean id="ServletHandler" class="org.eclipse.jetty.servlet.ServletHandler">
		<property name="servlets">
			<list>
				<ref bean="HelloServlet"/>
				<ref bean="MvcControllerServlet"/>
			</list>
		</property>
		<property name="servletMappings">
			<list>
				<ref bean="HelloServletMapping"/>
				<ref bean="MvcControllerServletMapping"/>
			</list>
		</property>
	</bean>
	
	 <bean id="HelloServlet" class="org.eclipse.jetty.servlet.ServletHolder">
	   <property name="name" value="Hello"/>
	   <property name="className" value="edu.columbia.ase.teamproject.servlets.HelloServlet"/>
	   <property name="initOrder" value="1"/>
	 </bean>

	 <bean id="HelloServletMapping" class="org.eclipse.jetty.servlet.ServletMapping">
	   <property name="servletName" value="Hello"/>
	   <property name="pathSpecs">
		 <list>
		   <value>/servlet/</value>
		 </list>
	   </property>
	 </bean>
	 
     <bean id="MvcControllerServlet" class="org.eclipse.jetty.servlet.ServletHolder">
	   <property name="name" value="mvc"/>
	   <property name="servlet">
        	<bean class="org.springframework.web.servlet.DispatcherServlet" />
       </property>
       <property name="initParameters">
       		<map>
            	<entry key="contextConfigLocation" value="classpath:mvc-servlets-context.xml, classpath:spring-config-db.xml" />
            </map>
       </property>	   
       <property name="initOrder" value="1"/>
	 </bean>						 

	 <bean id="MvcControllerServletMapping" class="org.eclipse.jetty.servlet.ServletMapping">
	   <property name="servletName" value="mvc"/>
	   <property name="pathSpecs">
		 <list>
		   <value>/controller/*</value>
		 </list>
	   </property>
	 </bean>

    
</beans>

    
    