<?xml version="1.0" encoding="UTF-8"?>


<!-- =============================================================== -->
<!-- Configure the Jetty Server with Spring                          -->
<!-- This file is the equivalent of jetty.xml, but written in spring -->
<!-- XmlBeanFactory format.                                          -->
<!-- The modules/spring/src/org/mortbay/spring/Main.java may be used -->
<!-- to run this file - or any other spring infrastructure that      -->
<!-- accepts uses an XmlBeanFactory                                  -->
<!-- =============================================================== -->

<beans 	xmlns="http://www.springframework.org/schema/beans"
   		xmlns:context="http://www.springframework.org/schema/context" 
   		xmlns:mvc="http://www.springframework.org/schema/mvc" 
   		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   		
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<bean id="Server" class="org.eclipse.jetty.server.Server" init-method="start" destroy-method="stop">
  	    
  
		<property name="threadPool">  
		  <bean id="ThreadPool" class="org.eclipse.jetty.util.thread.QueuedThreadPool">
			<property name="minThreads" value="10"/>
			<property name="maxThreads" value="50"/>
		  </bean>
		</property>
    
		<property name="connectors">
		  <list>
			<bean id="Connector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">
			  <property name="port" value="8080"/>
			  <property name="maxIdleTime" value="30000"/>
			  <property name="acceptors" value="2"/>
			  <property name="confidentialPort" value="8443"/>
			</bean>
		  </list>
		</property>
   
	    <property name="handler">
		  <bean id="handlers" class="org.eclipse.jetty.server.handler.HandlerCollection">
			<property name="handlers">
			  <list>
				 <bean class="org.eclipse.jetty.webapp.WebAppContext" >
				 	<property name="contextPath" value="/mvc"/>
				 	<property name="war" value="src/jsp"/>
				 	<property name="servletHandler"><ref bean="ServletHandler"/></property>
				 </bean> 
				 <bean id="defaultHandler" class="org.eclipse.jetty.server.handler.DefaultHandler"/>
				 <bean id="requestLog" class="org.eclipse.jetty.server.handler.RequestLogHandler"/>				 		
			  </list>
			</property>
		  </bean>
		</property>
    
    </bean>
        
</beans>

    
    